html,


:root {
  --amazon-blue       : #232F3E;
  --amazon-blue-dark  : #131921;
  --amazon-yellow     : #FEBD69;
  --amazon-yellow-dark: #FFA41C;
}

body {
  overflow-x: hidden;
  padding   : 0;
  margin    : 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color          : inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}