.HeaderMainContainer {
    width : 100%;
    height: 95px;


}

.HeaderTopContainer {
    width           : 100%;
    height          : 60px;
    background-color: var(--amazon-blue-dark);
    display         : flex;
    align-items     : center;
    padding-left    : 8px;
}

.HeaderTopLogo {
    position: relative;
    width   : 150px;
    height  : 40px;
    cursor  : pointer;
}

.HeaderSearchBar {
    width           : 60%;
    height          : 60%;
    background-color: var(--amazon-yellow);
    display         : flex;
    border-radius   : 8px;

}

.HeaderSearchBar:hover {
    background-color: var(--amazon-yellow-dark);
}

.SearchInput {
    flex                     : 1;
    border-top-left-radius   : 8px;
    border-bottom-left-radius: 8px;
    border                   : none;
    padding-left             : 10px;
    font-size                : 1rem;
}

.SearchInput:focus {
    outline: none;

}

.SearchIcon {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 100%;
    min-width      : 50px;
    cursor         : pointer;
}

.HeaderUserAndOrderDetails {
    height         : 100%;
    min-width      : 25%;
    padding        : 10px;
    margin-left    : 10px;
    font-size      : .9rem;
    display        : flex;
    justify-content: space-between;
    text-align     : center;
    color          : white;
}

.HeaderUserAndOrderDetails div {
    cursor: pointer;
}


.HeaderUserDetails p:nth-child(2) {
    font-weight: bold;
    font-size  : .8rem;
}

.HeaderOrderDetails p:nth-child(2) {
    font-weight: bold;
    font-size  : .8rem;
}

.HeaderCart {
    height  : 100%;
    position: relative;
}

.HeaderCart span {
    height          : 1.2rem;
    width           : 1.2rem;
    border-radius   : 50%;
    background-color: var(--amazon-yellow);
    position        : absolute;
    top             : -9px;
    right           : 3px;
    color           : black;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.HeaderBottom {
    width           : 100%;
    height          : 35px;
    font-size       : .7rem;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding-left    : 40px;
    font-weight     : 600;
    color           : white;
    background-color: var(--amazon-blue);
}

.HeaderBottom div,
.HeaderBottom p {
    cursor: pointer;
}



.HeaderBottomAlexaBanner {
    position: relative;
    width   : 30%;
    height  : 100%;
}

@media(max-width : 900px) {
    .HeaderSearchBar {
        display: none;
    }

    .HeaderTopLogo {
        flex: 1;
    }

    .HeaderUserAndOrderDetails {
        width: 70%;
    }

    .HeaderBottom {
        display: none;
    }


}